<nav class="navbar navbar-expand-lg shadow-sm custom-navbar">
    <div class="container-fluid">
        <!-- Left Side: Logo -->
        <a class="navbar-brand d-flex align-items-center">
            <img src="assets/images/logo-loggedin.png" alt="Company Logo" height="40" class="me-2">
            <!-- <span class="fs-5 fw-bold">Company Name</span> -->
        </a>

        <!-- Middle: Navigation Links -->
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active-screen': activeScreen === 'inventory'}"
                    (click)="setActiveScreen('inventory');dataStore.navigation('/inventory')" routerLink="/inventory">Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active-screen': activeScreen === 'contacts'}"
                    (click)="setActiveScreen('contacts');dataStore.navigation('/contacts')">contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active-screen': activeScreen === 'myAccount'}"
                    (click)="setActiveScreen('myAccount');dataStore.navigation('')">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active-screen': activeScreen === 'reports'}"
                    (click)="setActiveScreen('reports');dataStore.navigation('')">Reports</a>
            </li>
        </ul>

        <!-- Right Side: Username and Logout -->
        <div class="d-flex align-items-center">
            <span class="me-3 fw-semibold text-white">{{ userName }}</span>
            <button class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>